  html {
    font-family: Verdana, Geneva, sans-serif;
  }
  ul { list-style-type: none; }
  ul h3 {color:#484848;}
  a { 
    color:#484848;
    text-decoration-color: #484848;
  }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }s
  a:focus { text-decoration: none; }
  a:hover, a:active { text-decoration: none;}
  footer {
     position:fixed;
     left:0px;
     bottom:0px;
     height:120px;
     width:100%;
     background:#eeeeee;
  }
  footer p { text-align: center; }
  .error {color: #FF0000;}